<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="js/jquery.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script src="js/boot.js" th:src="@{/js/boot.js}"></script>
</head>
<body>
    <div>欢迎来到 Coffee Mall!</div>
    <div>
        用户：<text id="text-username"></text>
    </div>
    <div>
        手机：<text id="text-phone"></text>
    </div>
</body>

<script src="js/home.js" th:src="@{/js/home.js}"></script>
</html>